<a href="https://colab.research.google.com/github/bibhuprasad19/Employee-attrition-Hackerearth/blob/master/Employees_hacker_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing
import sklearn.metrics
import numpy as np

In [ ]:
train_data=pd.read_csv('/content/drive/My Drive/Dataset/Train.csv')
y=train_data['Attrition_rate']
train_data.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
corr_matrix=train_data.corr()
corr_matrix['Attrition_rate'].sort_values(ascending=True)
max(train_data['growth_rate'])

74

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(20,10))
#sns.heatmap(train_data.corr(),vmin=-1,vmax=1,annot=True)

In [ ]:

train_data_X=train_data[['Education_Level',"Time_since_promotion",'growth_rate','Post_Level','Work_Life_balance','VAR4','VAR2','VAR1','VAR3','VAR5',"VAR6"]]

y_target=train_data.Attrition_rate
y_target.head()
#train_data.describe()

0    0.1841
1    0.0670
2    0.0851
3    0.0668
4    0.1827
Name: Attrition_rate, dtype: float64

In [ ]:
test_data=pd.read_csv('/content/drive/My Drive/Dataset/Test.csv')
test_data.head()

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  VAR6  VAR7  Attribution_rate
0           0             0               0  ...     8     4          0.196348
1           1             1               1  ...     8     2          0.185719
2           2             2               2  ...     9     3          0.165640
3           3             3               3  ...     8     3          0.191409
4           4             4               4  ...     7     4          0.195940

[5 rows x 31 columns]

In [ ]:
train_data_X.isnull().sum()

Education_Level           0
Time_since_promotion      0
growth_rate               0
Post_Level                0
Work_Life_balance        11
VAR4                    656
VAR2                    577
VAR1                      0
VAR3                      0
VAR5                      0
VAR6                      0
dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
le=LabelEncoder()

#train_data_X['Compensation_and_Benefits']=le.fit_transform(train_data_X['Compensation_and_Benefits'])
train_data_X.shape

(7000, 11)

In [ ]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(strategy='mean')
train_data_X_imputed = imp.fit_transform(train_data_X)
#train_data_X= imp.transform(train_data_X)
#train_data_X.isnull().sum()
train_data_X_imputed.shape

(7000, 11)

In [ ]:
from sklearn.model_selection import train_test_split
y=y_target
X=train_data_X_imputed

X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2)
X_train.shape

(5600, 11)

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler,maxabs_scale,RobustScaler

sc_X = StandardScaler()

X_train_scaled =maxabs_scale(X_train)

X_test=maxabs_scale(X_test)

print(X_train_scaled.flatten()
)

X_train_scaled.shape#

[ 0.4         1.          0.60810811 ... -0.16342483  0.2
  0.55555556]

(5600, 11)

In [ ]:
from sklearn.linear_model import LinearRegression,ElasticNetCV,LassoCV,RidgeCV
import xgboost 
from sklearn.ensemble import AdaBoostRegressor,RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import GridSearchCV

In [ ]:
#linear_regression
lin_regressor=LinearRegression(n_jobs=2)
lin_regressor.fit(X_train_scaled,y_train)

#elasticnet
elast_regressor=ElasticNetCV()#alpha=1.0,l1_ratio=0.5
elast_regressor.fit(X_train_scaled,y_train)

#lasso
lasso_regressor=LassoCV()
lasso_regressor.fit(X_train,y_train)

#Ridge
ridge_regressor=RidgeCV()
ridge_regressor.fit(X_train,y_train)

#xgboost
xgb_regressor=xgboost.XGBRegressor(max_depth=3,learning_rate=0.08,n_estimators=150)
xgb_regressor.fit(X_train,y_train)

#adaboost
ada_regressor=AdaBoostRegressor(n_estimators=200,learning_rate=1.5,loss='linear')
ada_regressor.fit(X_train,y_train)

#decisionTree
tree_regressor=DecisionTreeRegressor(max_depth=250)
tree_regressor.fit(X_train,y_train)

#randomforest
forest_regressor=RandomForestRegressor(n_estimators=100,max_depth=10,random_state=0)
forest_regressor.fit(X_train,y_train)

#KNN
knn_regressor=KNeighborsRegressor(n_neighbors=7,weights='uniform')
knn_regressor.fit(X_train_scaled,y_train)

#SVR
svr_regressor=SVR(gamma=0.05,kernel='linear',C=5)#
svr_regressor.fit(X_train_scaled,y_train)

[19:14:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

SVR(C=5, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.05,
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
y_pred_lin = lin_regressor.predict(X_test)
y_pred_elast=elast_regressor.predict(X_test)
y_pred_lasso=lasso_regressor.predict(X_test)
y_pred_ridge=ridge_regressor.predict(X_test)
y_pred_xgb = xgb_regressor.predict(X_test)
y_pred_ada = ada_regressor.predict(X_test)
y_pred_tree = tree_regressor.predict(X_test)
y_pred_forest = forest_regressor.predict(X_test)
y_pred_knn = knn_regressor.predict(X_test)
y_pred_svr = svr_regressor.predict(X_test)

In [ ]:
from sklearn import metrics 

print('Root Mean Squared Error of linear:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_lin)))
print('Root Mean Squared Error of Elasticnet:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_elast)))
print('Root Mean Squared Error of Lasso:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_lasso)))
print('Root Mean Squared Error of ridge:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_ridge)))

print('Root Mean Squared Error of xgb:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_xgb)))
print('Root Mean Squared Error of ada:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_ada)))
print('Root Mean Squared Error of tree:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_tree)))
print('Root Mean Squared Error of forest:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_forest)))
print('Root Mean Squared Error of knn:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_knn)))
print('Root Mean Squared Error of svr:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_svr)))

Root Mean Squared Error of linear: 0.19640654845476743
Root Mean Squared Error of Elasticnet: 0.19633881919807608
Root Mean Squared Error of Lasso: 0.19634113048547036
Root Mean Squared Error of ridge: 0.1962502304407964
Root Mean Squared Error of xgb: 0.21882774731442406
Root Mean Squared Error of ada: 0.20325096074323493
Root Mean Squared Error of tree: 0.600013223717373
Root Mean Squared Error of forest: 0.24824129019522218
Root Mean Squared Error of knn: 0.2067693944492361
Root Mean Squared Error of svr: 0.1999026517618305

In [ ]:
########################################################################################
###                          TESTING STARTS HERE

In [ ]:
testing_data=pd.read_csv('/content/drive/My Drive/Dataset/Test.csv')
testing_data

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  VAR6  VAR7  Attribution_rate
0              0             0               0  ...     8     4          0.196348
1              1             1               1  ...     8     2          0.185719
2              2             2               2  ...     9     3          0.165640
3              3             3               3  ...     8     3          0.191409
4              4             4               4  ...     7     4          0.195940
...          ...           ...             ...  ...   ...   ...               ...
2995        2995          2995            2995  ...     7     4          0.193878
2996        2996          2996            2996  ...     8     3          0.170152
2997        2997          2997            2997  ...     8     4          0.175397
2998        2998          2998            2998  ...     9     2          0.168755
2999        2999          2999            2999  ...     8     5          0.187021

[3000 rows x 31 columns]

In [ ]:
testing_data_X=testing_data[['Education_Level',"Time_since_promotion",'growth_rate','Post_Level','Work_Life_balance','VAR2','VAR4','VAR1','VAR3','VAR5',"VAR6"]]
testing_data_X.shape

(3000, 11)

In [ ]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
le=LabelEncoder()

#testing_data_X['Compensation_and_Benefits']=le.fit_transform(testing_data_X['Compensation_and_Benefits'])
testing_data_X.shape

(3000, 11)

In [ ]:
testing_data_X.isnull().sum()

Education_Level           0
Time_since_promotion      0
growth_rate               0
Post_Level                0
Work_Life_balance         5
VAR2                    217
VAR4                    298
VAR1                      0
VAR3                      0
VAR5                      0
VAR6                      0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
imp_testing=SimpleImputer(strategy='mean')
testing_data_X_imputed = imp_testing.fit_transform(testing_data_X)
#train_data_X= imp.transform(train_data_X)
#train_data_X.isnull().sum()
testing_data_X_imputed

array([[ 5.    ,  4.    , 30.    , ..., -0.4537,  1.    ,  8.    ],
       [ 2.    ,  2.    , 72.    , ...,  0.7075,  2.    ,  8.    ],
       [ 3.    ,  3.    , 25.    , ...,  0.7075,  1.    ,  9.    ],
       ...,
       [ 4.    ,  1.    , 69.    , ..., -0.4537,  4.    ,  8.    ],
       [ 1.    ,  1.    , 30.    , ..., -0.4537,  3.    ,  9.    ],
       [ 1.    ,  4.    , 70.    , ..., -0.4537,  2.    ,  8.    ]])

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

#sc_X_testing = StandardScaler()
#X_testing_scaled = sc_X_testing.fit_transform(testing_data_X_imputed)
X_testing_scaled=maxabs_scale(testing_data_X_imputed)
#X_test = sc_X.transform(X_test)
print(X_testing_scaled.flatten())
#X_testing_scaled.flatten()

[ 1.          1.          0.40540541 ... -0.16342483  0.4
  0.88888889]

In [ ]:
testing_result_y=lin_regressor.predict(X_testing_scaled)

In [ ]:
testing_result_y

array([0.20058117, 0.20396401, 0.18372011, ..., 0.20690398, 0.17495854,
       0.20184107])

In [ ]:
testing_data["Attribution_rate"]=testing_result_y

In [ ]:
id=testing_data['Employee_ID']
submission=pd.DataFrame({"Employee_ID":id,"Attrition_rate":testing_result_y})
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.200581
1       EID_9658        0.203964
2      EID_22203        0.183720
3       EID_7652        0.191397
4       EID_6516        0.188936
...          ...             ...
2995   EID_22547        0.193172
2996   EID_10066        0.180216
2997    EID_7126        0.206904
2998    EID_4929        0.174959
2999   EID_24750        0.201841

[3000 rows x 2 columns]

In [ ]:
submission.to_csv('submission_1.csv', index=False)
submission

     Employee_ID  Attrition_rate
0      EID_22713        0.200581
1       EID_9658        0.203964
2      EID_22203        0.183720
3       EID_7652        0.191397
4       EID_6516        0.188936
...          ...             ...
2995   EID_22547        0.193172
2996   EID_10066        0.180216
2997    EID_7126        0.206904
2998    EID_4929        0.174959
2999   EID_24750        0.201841

[3000 rows x 2 columns]

In [ ]:
hello=pd.read_csv('/content/drive/My Drive/Dataset/sample_submission.csv')
hello

  Employee_ID  Attrition_rate
0       TID_1          0.1588
1       TID_2          0.1424
2       TID_3          0.4758
3       TID_4          0.0846
4       TID_5          0.2388